.whoSection {
	height: 100vh;
	scroll-snap-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.whoContainer {
	height: 100vh;
	scroll-snap-align: center;
	width: 70vw;
	display: flex;
	justify-content: space-between;
}

.whoLeft {
	flex: 1;
}

.whoRight {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.whoTitle {
	font-size: 74px;
}

.whoWhatIDo {
	display: flex;
	align-items: center;
	gap: 10px;
}

.whoLine {
	height: 15px;
}

.whoSubtitle {
	color: #da4ea2;
	font-size: 30px;
}

.whoDescription {
	font-size: 24px;
	color: lightgray;
}

.whoButton {
	background-color: #da4ea2;
	color: white;
	font-weight: 500;
	width: 120px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}


